<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <div class="landing-page">
      <header>
        <div class="container">
          <img
            src="https://img.freepik.com/premium-vector/pizza-24-hours-logo-stock-template-emblem_139372-877.jpg?size=626&ext=jpg&ga=GA1.2.599791471.1692276846&semt=ais"
            alt="Logo"
            class="logo"
            style="width: 100px; height: auto"
          />
          <link
            <link
            href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap"
            rel="stylesheet"
          />
          <ul class="links">
            <li>Home</li>
            <li>Menu</li>
            <li>Map</li>
            <li>Deals</li>
          </ul>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="info">
            <h1>Delicious Pizza Delivered to Your Doorstep</h1>
            <p>
              Craving for mouth-watering pizza? Look no further! We offer a wide
              variety of pizzas made with fresh ingredients and delivered right
              to your home. Order now and satisfy your pizza cravings!
            </p>
            <button class="button">Order Now</button>
          </div>
          <div class="image">
            <img
              src="https://img.freepik.com/free-vector/online-pizzeria-isometric-composition_98292-6943.jpg?w=826&t=st=1696402976~exp=1696403576~hmac=288a006a0e09742637ae4c79fa37492a718e5eeefd074d3cf88ff453460ff3e9"
              alt="Delicious Pizza"
              style="width: 400px; height: auto"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
